/* src/components/Hero.module.css */

.heroContainer {
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 100vh; 
    display: flex; 
    width: 100vw;
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
    background-color: #ffffff; 
    overflow: hidden;
    background-image: url('https://cdn.prod.website-files.com/65386cac3f64810eb31ba215/65545832d5790dae98f8bf0a_Ellipse%206.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .contentWrapper {
    position: relative; 
    text-align: center; 
  }
  
  .mainHeadline {
    font-family: 'Archivo Black', sans-serif;
   
    font-size: clamp(4rem, 18vw, 11rem);
    text-transform: uppercase;
    color: #1a202c; 
    margin: 0; 
    padding: 0; 
    line-height: 1;
    user-select: none; 
  }
  
  .annotation {
    position: absolute; 
    font-family: 'Roboto', sans-serif;
    font-size: clamp(0.7rem, 1.5vw, 0.8
    rem); 
    color: #000000; 
    white-space: nowrap; 
    user-select: none;
    text-transform: uppercase;

  }
  
  .annotationAbove {
    top: 0; 
    left: 0; 
    transform: translate(-5%, -60%);
  }
  
  .annotationBelow {
    display:flex;
    align-items: right;
    justify-content: right;
    bottom: 0;
    right: 0; 
    transform: translate(5%, 60%);
  }
  

  @media (max-width: 600px) {
    .mainHeadline {
      font-size: clamp(3rem, 20vw, 10rem); 
    }
    .annotationAbove {
       transform: translate(-5%, -80%); 
    }
     .annotationBelow {
       transform: translate(5%, 80%); 
    }
  }